.about-me {
  max-width: 1400px;
  margin: 0 auto;
  h1 {
    text-align: center;
  }
}
.about-me-container {
  display: flex;
  margin: 3rem 0;

  .description {
    max-width: 50%;
    margin: 2rem 3rem;
    .resume {
      margin: 2rem 0;
      font-size:26px;
      border: 4px solid $color__text-heading-accent;
      border-radius: 35px;
      padding: 10px 20px;
    }
  }
  .about-img {
    background-image: url("../../assets/images/me.png");
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
