.about-me {
  margin: 3rem 5rem;
  h1 {
    text-align: center;
  }
}
.about-flex-container {
  display: flex;
  margin: 5rem auto 10rem;
  .description {
    max-width: 50%;
    margin: 2rem 2rem 3rem;
    p {
      margin-right: 2rem;
    }
    .resume {
      font-size: 25px;
      border: 4px solid $color__text-heading-accent;
      border-radius: 35px;
      width: 100px;
      padding: 10px 20px;
      margin: 2rem 0;
      &:hover {
        color: white;
        background-color: $color__text-heading-accent;
      }
    }
  }
  .about-img {
    background-image: url("../../assets/images/me.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
    width: 100%;
    height: 500px;
  }
}
