footer {
  background-color: $color__footer-background;
  border-radius: 5px;
  @include tablet {
    margin: 0 2rem;
  }
  @include desktop {
    margin: 0 5rem;
  }
  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1rem;
    @include desktop {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      max-width: 1000px;
      margin: 0 auto;
    }
    padding: 3rem 0;
    h1 {
      margin: 1rem 0;
    }
    h2 {
      margin: 1rem 0;
    }
    ul {
      li {
        display: flex;
        i {
          font-size: 24px;
        }
        p {
          font-size: 24px;
          margin: 0 1rem 1rem;
        }
        a {
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
