html {
  background-color: lightsteelblue;
  max-width: 1550px;
  margin: 0 auto;
}

.container {
  margin:4rem auto;
  background-color:lightgray;
  height:600px;
  h1 {
    text-align: center;
  }
}
