.hero-container {
  padding: 8rem 0;
  .hero-msg {
    text-align: left;
    text-transform: none;
    max-width: 60%;
  }
  ul {
    display: flex;
    max-width: 23%;
    justify-content: space-between;
    margin: 2rem 0;
    li {
      border: 4px solid $color__text-heading-accent;
      border-radius: 35px;
      padding: 10px 20px;
      a {
        &:hover {
          color: white;
          background-color: lightcoral;
        }
      }
      p {
        color: $color__text-heading-accent;
        text-transform: capitalize;
        font-size: 25px;
        font-weight: 600;
      }
    }
  }
}

.projects-container {
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:6.5rem 4.5rem;
    margin-top:5rem;
    .projects-item {
      max-width:100%;

      .card-img {
        display: block;
        height: 300px;
        background-size:cover;
        background-position:center;
        background-repeat:no-repeat;
      }

      .coop {
        background-image: url("../../assets/images/coop.png"); 
        background-position: left;
      }
      .qod {
        background-image: url("../../assets/images/qod.png");
      }
      .inhabit {
        background-image: url("../../assets/images/inhabit.png");
      }
      .insta {
        background-image: url("../../assets/images/instanews.png");
        background-position: top;
      }
      .pong {
        background-image: url("../../assets/images/pong.png");
      }
      .aloha {
        background-image: url("../../assets/images/aloha.png");
      }
      
      .card-text {
        margin: 2rem 0.5rem;
        .card-title {
            margin:0.5rem 0;
        }

        .tech-tag {
          ul {
            display: flex;
            margin:1rem 0;
            li {
              margin: 1rem;
              border: 1px solid $color__tag-background;
              padding: 5px 10px;
              background-color: $color__tag-background;
              &:first-child{
                  margin-left:0;
              }
            }
          }
        }
      }
    }
  }
}

.skills-container {
    .skill-grid {
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        margin:3rem 4rem;
        border: 1px solid;
        h2 {
            color:$color__text-body;
            margin:1rem 0;
        }
        .skill-item {
          border: 1px solid;
          padding:1rem 2rem;
        }
    }
}