// Colour

$color__site-background: #fffefd;
$color__header-background:$color__site-background;
$color__footer-background:#f8fafc;
//fffefd warmer palest white
//d8dae2 pale grey
//f8fafc palest cool white


$color__text-main:black;
$color__text-accent:#fff;
$color__text-heading:#000;
$color__text-heading-accent:teal;
$color__tag-background:$color__text-heading-accent;
//80bbc5 teal
//99c8d0 lighter teal

// Fonts

$font__main: "Quicksand", Helvetica, sans-serif;
$font__heading: $font__main;
$font__heading-accent: $font__main;

// Media

$tablet-width: 600px;
$desktop-width: 1080px;