// Colour

$color__site-background: #f5f5f5;
$color__site-border: lightgrey;
$color__header-background: $color__site-background;
$color__footer-background: lightgrey;
$color__box-shadow: lightgrey;

$color__text-main: #000;
$color__text-accent: #fff;
$color__text-heading: #000;
$color__text-heading-accent: #6db6ca;
$color__tag-background: $color__text-heading-accent;

// Fonts

$font__main: "Quicksand", Helvetica, sans-serif;
$font__heading: $font__main;
$font__heading-accent: $font__main;

// Media

$tablet-width: 600px;
$desktop-width: 1080px;
