// Colour

$color__site-background: lightsteelblue;
$color__header-background:#fff;
$color__footer-background:#ffefe0;
$color__text-heading:#000;
$color__text-heading-accent:lightcoral;
$color__text-body:black;
$color__text-accent:gray;
$color__link-hover:gray;
$color__tag-background:rgb(106, 93, 182);

// Fonts

$font__heading: "Quicksand", Helvetica, sans-serif;
$font__heading-accent: "Quicksand", Helvetica, sans-serif;
$font__text-body: "Quicksand", Helvetica, sans-serif;

// Media

$tablet-width: 600px;
$desktop-width: 1080px;